PRINTER_Cashier1_NAME=Sample
PRINTER_Cashier1_ROLE=CASHIER
PRINTER_Cashier1_IP=192.168.1.100
PRINTER_Cashier1_PORT=9100
PRINTER_Cashier1_WIDTH=576
PRINTER_Cashier1_ENCODING=PC437
PRINTER_Cashier1_CUT=true
PRINTER_Cashier1_ALIGN=center
PRINTER_Cashier1_FEED=4
PRINTER_Cashier1_STATUS=enabled
